<%- include('header'); -%>
<h2>This is the about page of the To-Do list app</h2>

<p>An app where we can add the things to do for that particular day
and delete them off once they are finished. This app currently has two lists
one for normal usage and the other for work related things</p>
<%- include('footer'); -%>
